/* special thanks to http://lea.verou.me/css3patterns/ for the css background patterns below! */

.fd-background-carbon-small {
    background:
      linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.fd-background-carbon-medium {
    background: linear-gradient(27deg, #151515 10px, transparent 10px) 0 10px,
    linear-gradient(207deg, #151515 10px, transparent 10px) 20px 0px,
    linear-gradient(27deg, #222 10px, transparent 10px) 0px 20px,
    linear-gradient(207deg, #222 10px, transparent 10px) 20px 10px,
    linear-gradient(90deg, #1b1b1b 20px, transparent 20px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 40px 40px;
}

.fd-background-starry-night {
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.fd-background-japanese-cube {
  background-color:#333;
  background-image: linear-gradient(30deg, #222 12%, transparent 12.5%, transparent 87.5%, #222 87.5%, #222),
  linear-gradient(150deg, #222 12%, transparent 12.5%, transparent 87%, #222 87.5%, #222),
  linear-gradient(30deg, #222 12%, transparent 12.5%, transparent 87%, #222 87.5%, #222),
  linear-gradient(150deg, #222 12%, transparent 12.5%, transparent 87%, #222 87.5%, #222),
  linear-gradient(60deg, #444 25%, transparent 25.5%, transparent 75%, #444 75%, #444),
  linear-gradient(60deg, #444 25%, transparent 25.5%, transparent 75%, #444 75%, #444);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.fd-background-concrete {
  background-image: url(../img/concrete_seamless.png);
  background-repeat: repeat;;
}
