<div clas="data-uk-sticky">
<nav class="uk-navbar">
  <a class="uk-navbar-brand" href="#">{{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}</a>
  <div class="uk-navbar-content uk-navbar-flip">
    <ul class="uk-navbar-nav uk-hidden-small">
      <li>
          <a href="#about">{{ with .Site.Params.navigation.links.about }}{{ . }}{{ end }}</a>
      </li>
      <li>
          <a href="#experience">{{ with .Site.Params.navigation.links.experience }}{{ . }}{{ end }}</a>
      </li>
      <li>
          <a href="#projects">{{ with .Site.Params.navigation.links.projects }}{{ . }}{{ end }}</a>
      </li>
      <li>
          <a href="#skills">{{ with .Site.Params.navigation.links.skills }}{{ . }}{{ end }}</a>
      </li>
      <li>
          <a href="#education">{{ with .Site.Params.navigation.links.education }}{{ . }}{{ end }}</a>
      </li>
      <li>
          <a href="#contact">{{ with .Site.Params.navigation.links.contact }}{{ . }}{{ end }}</a>
      </li>
    </ul>
    <a href="#side-menu" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
  </div>
</nav>
</div>
