<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        {{ partial "nav.html" . }}

        {{ partial "summary.html" . }}
        {{ partial "experience.html" . }}
        {{ partial "projects.html" . }}
        {{ partial "skills.html" . }}
        {{ partial "education.html" . }}
        {{ partial "contact.html" . }}

        {{ partial "js.html" . }}
    </body>
</html>
